{{#each comics}}
    <div class='card' data-id='{{this._id}}' data-type='{{this.type}}' data-status='{{this.status}}'>
        <i class='bx bxs-x-circle btn-delete'></i>
        <div class='card-img'>
            <img class='btn-edit' src='{{this.image}}' alt=''/>
        </div>
        <div class='desc'>
            <h6 class='card-title'>{{this.name}}</h6>
        </div>
        <div class="details">
            <div class='chapter'>
                <div class='chapRead'>
                    <h6 class='primary-text'>{{this.chapRead}}</h6>
                    <h6 class='secondary-text'>Chap Read</h6>
                </div>
                <div class='chapPresent'>
                    <h6 class='primary-text'>{{this.chapPresent}}</h6>
                    <h6 class='secondary-text'>Chap Present</h6>
                </div>
            </div>

            <div class='last-read'>
                <h6 class='primary-text'>{{this.lastRead}}</h6>
                <h6 class='secondary-text'>Last Read</h6>
            </div>
        </div>
    </div>
{{/each}}