<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comics Collection</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    {{> sidebar}}

    <div class="home-content">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        {{> header}}

        <select class="dropdown filter">
            <option>Last read ascending</option>
            <option>Last read descending</option>
            <option>Unread chapter ascending</option>
            <option>Unread chapter descending</option>
        </select>

        <div class="card-container">

            {{{body}}}

        </div>

        <!-- Add Modal -->
        <div class="add-modal modal-wrapper">
            <div class="modal">
                <div class="modal-header">Add Comic</div>
                <div class="modal-body">
                    <form action="/comic/create" method="POST" class="form" autocomplete="off">
                        <img src="" alt="" id="imgAddModal">
                        <input class="form-control" type="text" name="name" placeholder="Comic's name">
                        <input class="form-control" type="number" name="chapRead" placeholder="Chap Read">
                        <input type="text" class="form-control" name="image" id="linkImgAddModal"
                            placeholder="Link image of the comic">
                        <select class="form-control" name="type" id="type">
                            <option value="" disabled>Select type of comic</option>
                            <option value="Manhwa">Manhwa</option>
                            <option value="Manhua">Manhua</option>
                            <option value="Manga">Manga</option>
                            <option value="Others">Others</option>
                        </select>
                        <select class="form-control" name="status" id="status">
                            <option value="" disabled>Select status of comic</option>
                            <option value="None">None</option>
                            <option value="Hot">Hot</option>
                            <option value="End">End</option>
                            <option value="Blacklist">Black List</option>
                            <option value="Drop">Drop</option>
                        </select>
                        <button type="submit" class="btn btn-modal">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div class="edit-modal modal-wrapper">
            <div class="modal">
                <div class="modal-header">Edit Comic</div>
                <div class="modal-body">
                    <form class="form" autocomplete="off">
                        <img src="{{comic.image}}" alt="" name="imgEditModal">
                        <input class="form-control" type="text" name="name" placeholder="Comic's name"
                            value="{{comic.name}}">
                        <input class="form-control" type="number" name="chapRead" placeholder="Chap" value="{{comic.chap}}">
                        <input type="text" class="form-control" name="image" placeholder="Link image of the comic"
                            value="{{comic.image}}">
                        <select class="form-control" name="type" id="type">
                            <option value="Manhwa">Manhwa</option>
                            <option value="Manhua">Manhua</option>
                            <option value="Manga">Manga</option>
                            <option value="Others">Others</option>
                        </select>
                        <select class="form-control" name="status" id="status">
                            <option value="" disabled>Select status of comic</option>
                            <option value="None">None</option>
                            <option value="Hot">Hot</option>
                            <option value="End">End</option>
                            <option value="Blacklist">Black List</option>
                            <option value="Drop">Drop</option>
                        </select>
                        <button type="submit" class="btn btn-modal">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="delete-modal modal-wrapper">
        <div class="modal">
            <div class="modal-body">
                <form class="form" autocomplete="off">
                </form>
            </div>
        </div>
    </div>
    
    <script src="/js/home.js"></script>
</body>

</html>